.cart{
  display:grid;
  background-color: lightgrey;
 
 
}
.thead{
  background-color: lightgrey;
}
.input{
  width:8%;
  text-align: center;

}
.cart_back{
 width: 30%;
 

}
.head{
  text-align:50% right;
}
.cart_quantities{
  background-color: white;
  
  /* margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%; */
  margin-top:5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  


}
.button{
 
  float :right ;
  width: 30%;
  background-color: blue;
  color: white;
  font-size: large;
}
.first_row{
  background-color: lightgray;
}
table, th, td {

  border: 1px  ;
 
}
.hideRow{
 display: none;
}